:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	max-width: 1280px;
	margin-inline: auto;
	padding: 2rem;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h1 {
	margin-bottom: 10px;
}

.btn {
	border: 1px solid #000;
	background: #ccc;
	padding: 0.5rem 1rem;
	cursor: pointer;
	transition:
		background 0.3s ease-in-out,
		color 0.3s ease-in-out;
	&:hover {
		background: #fff;
	}
	&:focus {
		background: #ffff00;
	}
	&:disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}
}
